.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 2281px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 30px 30px 0 0;
  background-size: cover;
  background-image: url("public/external/tq_egxo4ccdi--w2e-1500w.png");
}
.desktop1-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 101px;
  position: absolute;
  border-radius: 30px 30px 0 0;
}
.desktop1-text {
  top: 236px;
  left: 100px;
  color: rgba(255, 255, 255, 1);
  width: 457px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text02 {
  top: 36px;
  left: 100px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Sen;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-home {
  top: 38px;
  left: 744px;
  width: 57px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-about {
  top: 38px;
  left: 851px;
  width: 57px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-service {
  top: 38px;
  left: 947px;
  width: 76px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-portfolio {
  top: 38px;
  left: 1043px;
  width: 57px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-contact {
  top: 38px;
  left: 1148px;
  width: 57px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text14 {
  top: 200px;
  left: 100px;
  color: rgba(255, 255, 255, 1);
  width: 295px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text16 {
  top: 382px;
  left: 100px;
  color: rgba(255, 255, 255, 1);
  width: 286px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text17 {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  text-decoration: NONE;
}
.desktop1-ellipse1 {
  top: 195px;
  left: 850px;
  width: 423px;
  height: 423px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 22px;
}
.desktop1-image1 {
  top: 243px;
  left: 899px;
  width: 326px;
  height: 326px;
  position: absolute;
  border-radius: 100px;
}
.desktop1-text19 {
  top: 429px;
  left: 100px;
  color: rgba(255, 255, 255, 1);
  width: 506px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-dcv {
  gap: 10px;
  top: 730px;
  left: 158px;
  width: 178px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(100, 177, 220, 1);
}
.desktop1-download-cv {
  width: 158px;
  height: 29px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text21 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Sen;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame1 {
  top: 918px;
  left: 0px;
  width: 1440px;
  height: 690px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 30px 30px 0 0;
  background-size: cover;
  background-image: url("public/external/tq_lpr5g_8wr--qxjp-1500w.png");
}
.desktop1-rectangle2 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 101px;
  position: absolute;
  border-radius: 30px 30px 0 0;
}
.desktop1-text23 {
  top: 36px;
  left: 100px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Sen;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-home1 {
  top: 38px;
  left: 744px;
  width: 57px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text25 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-about1 {
  top: 38px;
  left: 851px;
  width: 57px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text27 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-service1 {
  top: 38px;
  left: 947px;
  width: 76px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text29 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-portfolio1 {
  top: 38px;
  left: 1043px;
  width: 57px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text31 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-contact1 {
  top: 38px;
  left: 1148px;
  width: 57px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text33 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-ellipse11 {
  top: 175px;
  left: 82px;
  width: 423px;
  height: 423px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 22px;
}
.desktop1-image11 {
  top: 223px;
  left: 131px;
  width: 326px;
  height: 326px;
  position: absolute;
  border-radius: 100px;
}
.desktop1-rectangle3 {
  top: 185px;
  left: 654px;
  width: 661px;
  height: 413px;
  position: absolute;
  border-radius: 119px;
}
.desktop1-text35 {
  top: 277px;
  left: 738px;
  color: rgba(255, 255, 255, 1);
  width: 536px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Sen;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame2 {
  top: 1591px;
  left: 0px;
  width: 1440px;
  height: 690px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 30px 30px 0 0;
  background-size: cover;
  background-image: url("public/external/tq_51dqzmg6ni-9nh9-1500w.png");
}
.desktop1-rectangle21 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 101px;
  position: absolute;
  border-radius: 30px 30px 0 0;
}
.desktop1-text46 {
  top: 36px;
  left: 100px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Sen;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-home2 {
  top: 38px;
  left: 744px;
  width: 57px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text48 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-about2 {
  top: 38px;
  left: 851px;
  width: 57px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text50 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-service2 {
  top: 38px;
  left: 947px;
  width: 76px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text52 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-portfolio2 {
  top: 38px;
  left: 1043px;
  width: 57px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text54 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-contact2 {
  top: 38px;
  left: 1148px;
  width: 57px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text56 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-ellipse12 {
  top: 180px;
  left: 100px;
  width: 423px;
  height: 423px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 23px;
}
.desktop1-rectangle31 {
  top: 185px;
  left: 654px;
  width: 661px;
  height: 413px;
  position: absolute;
  border-radius: 119px;
}
.desktop1-text58 {
  top: 320px;
  left: 773px;
  color: rgba(255, 255, 255, 1);
  width: 435px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Sen;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
